---
---
!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:charset => "utf-8"}
    %title larsknoke.com | DESIGN | CODE | WEB
    %meta{:content => "Webdesign | Webdevelopment | Programmierung | Online-Shops | Apps | Website | Landingpages | Responsive", :name => "description"}
    %meta{:content => "Lars Knoke", :name => "author"}
    %meta{:content => "initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width", :name => "viewport"}/




    %link{:href => "https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700", :rel => "stylesheet"}
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800", :rel => "stylesheet"}

    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css", :rel => "stylesheet"}
    %link{:href => "assets/css/style.css", :rel => "stylesheet"}

    /[if lt IE 9]
      %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"}
  %body
    #loader
      %span.notFoundText

    %script{:crossorigin => "anonymous", :integrity => "sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=", :src => "https://code.jquery.com/jquery-1.12.4.min.js"}
    %script{:src=>"/assets/js/lib/jquery-ui.accordion.min.js"}
    %script{:src => "https://cdn.jsdelivr.net/npm/typeit@5.6.0/dist/typeit.min.js"}

    %script{:src=>"/assets/js/main.js"}
