---
---
!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:charset => "utf-8"}
    %title lakebox | larsknoke.com
    %meta{:content => "lakebox | larsknoke.com", :name => "description"}
    %meta{:content => "LK", :name => "author"}


    %link{:href => "https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700", :rel => "stylesheet"}
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800", :rel => "stylesheet"}

    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css", :rel => "stylesheet"}
    %link{:href => "assets/css/style.css", :rel => "stylesheet"}

    /[if lt IE 9]
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>


  %body
    .container
      .box.main-container
        .logo-burger-container
          .logo
            %img{:src => "/assets/img/logo_lk.svg"}
          .burger{:style => "opacity:0"}
            .line-01
            .line-02
            .line-03
          -# .gh-logo
            %img{:src => "/assets/img/gh.svg"}
        .main-content{:style => "transform: translateX(100%)"}
          .content-box
            .main-content-design
              %h1 DESIGN.
              %p
                Als selbtständiger UX & UI Designer habe ich mich auf die Konzeption und die grafische Umsetzung von Websites, Landingpages, Online Shops und Web-Applikationen spezialisiert.
              %p
                Vom Grundkonzept über das Design bis zur fertigem Produkt. Mit oder ohne Content Management System (CMS) und natürlich responsiv gestaltet, für die optimale Ansicht auf jedem Endgerät.
              %h2.typeItDesign.bottomLine
                WEBSITE, LANDINGPAGES,
                %br
                WEB & MOBILE APPS, ONLINE-SHOPS

              %p
                Lassen Sie uns gemeinsam Ihre Idee umsetzen. Kontaktieren Sie mich gerne über das untenstehende Formular oder direkt über: info@larsknoke.com | 0152/51746289
              / TODO: BUTTON HOVER funktioniert nicht wegen Footer
              .btn.w-40.mt-2
                KONTAKT
            .main-content-code
              %h1 CODE.
              %p
                Für die korrekte Umsetzung vom Design zur fertigen Website ist die Wahl der richtigen Programmiersprache ebenfalls ein wichtiger Prozess in der Entwicklung um eine ausreichende Performance zu gewährleisten. Das richtige Framework und Content Management Systems hängt von den Ansprüchen der Website/App ab.
              %h2
                %span.color-dark{:style => "letter-spacing:0"}
                  ICH BENUTZE:
                %span.typeItCode
              %p
                Moderne Technologien entwickeln sich immer weiter, daher ist es entscheidend, immer auf dem neuesten technischen Stand zu sein. Meine Erfahrung im Front- sowie Back-End Bereich ermöglichen es mir die richtige Software für Ihr Projekt auszuwählen.
              .btn.w-40.mt-2
                KONTAKT
            .main-content-about
              %h1 ABOUT.
              %p
                Ich bin Lars Knoke. Freiberuflicher Webdesigner aus Holzminden mit langjähriger Erfahrung in Sachen Webdesign und Webentwicklung im Front- sowie Back-End Bereich.
              %img.coder{:src => "/assets/img/coder.jpg"}
              %h2.topLine
                Lars Knoke, M, 32 Jahre 
                %br
                Holzminden, Niedersachsen
                %br
                 Deutschland
            .main-content-contact
              %h1.color-white CONTACT.
              %form{:action => "/action_page.php"}
                .contact-form
                  .input-group
                    %input.input-control{:name => "name", :type => "text", :value => "", :placeholder => "Name"}
                    %input.input-control{:name => "email", :type => "email", :value => "", :placeholder => "Email"}
                  .input-group
                    %textarea.input-control{:name => "text", :type => "text", :value => "", :placeholder => "Text hier...", :rows => "4"}
                  .input-group
                    %a.btn.input-control.submit
                      Senden

        .main-start
          %nav
            .arrow
              %img{:src => "/assets/img/arrow.svg"}
            .nav-container
              %h1{"data-link" => "design"}
                DESIGN.
              .nav-text
                Ich gestalte responsive Websites,
                 Interfaces und Web-Applications im  Front-End
                sowie Back-End Bereich.
                .divider
              %h1{"data-link" => "code"}
                CODE.
              .nav-text
                Konzeption und Programmierung
                von Web-Applications und
                 Web-Interfaces.
                .divider
              %h1{"data-link" => "about"}
                ABOUT.
              .nav-text
                Lars Knoke, M, 32 Jahre
                %br
                 Holzminden, Niedersachsen 
                %br
                Deutschland
                .divider
              %h1{"data-link" => "contact"}
                CONTACT.
              .nav-text
                Kontakt
                %a.color-green.toContact{:href => "/"}
                  hier
                oder
                %br
                0152 / 51746289
                %br
                oder  info@larsknoke.com
                .divider

        .footer
          LARS KNOKE | MECKLENBURGER-STR. 6 | 37603 HOLZMINDEN | INFO@LARSKNOKE.COM

      .box.side
        .side-img.start-side{:style => "background-image: url('/assets/img/start_side.jpg');     transform-origin: 50% 50% 0px; opacity: 1; transform: translateX(0%);"}
        .side-img.design-side{:style => "background-image: url('/assets/img/design_side.jpg');     transform-origin: 100% 50% 0px; opacity: 1; transform: translateX(-100%);"}
        .side-img.code-side{:style => "background-image: url('/assets/img/code_side.jpg');     transform-origin: 100% 50% 0px; opacity: 1; transform: translateX(-100%);"}
        .side-img.contact-side{:style => "background-image: url('/assets/img/contact_side.jpg');     transform-origin: 100% 50% 0px; opacity: 1; transform: translateX(-100%);"}
        .side-img.about-side{:style => "background-image: url('/assets/img/about_side.jpg');     transform-origin: 100% 50% 0px; opacity: 1; transform: translateX(-100%);"}
        .burger-menu
          %ul
            %li
              %a{:href => "#design"}
                DESIGN
            %li
              %a{:href => "#design"}
                CODE
            %li
              %a{:href => "#about"}
                ABOUT
            %li
              %a.toContact{:href => "#contact"}
                CONTACT




    %script{:crossorigin => "anonymous", :integrity => "sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=", :src => "https://code.jquery.com/jquery-1.12.4.min.js"}
    %script{:src=>"/assets/js/lib/jquery-ui.accordion.min.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"}
    %script{:src => "https://cdn.jsdelivr.net/npm/typeit@5.6.0/dist/typeit.min.js"}
    %script{:src=>"/assets/js/main.js"}
