/* ABOUT */

.main-content-about {

  h2 {
    margin-top: 0;
  }

  .coder {
    width: 25%;
    margin-top: 1.2rem;
    margin-bottom: 0.4rem;
  }
}


@media (max-width: 768px) {

  .main-content-about .coder {
    width: 50%;
  }

}
@media (max-width: 667px) {

  .main-content-about .coder {
    width: 80%;
  }

}
