.burger {
  float: right;
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  top: -10px;
  transition: .4s;
  &:hover {
    div[class*='line']{
      width: 25px;
    }
  }
}

div[class*='line-']{
  background-color: #fff;
  height: 1px;
  border-radius: 0px;
  margin-top: 8px;
  position: absolute;
  transition: .3s ease;
}

.line-01 {
  width: 28px;
  left: 0;
}
.line-02 {
  width: 20px;
  top: 8px;
  left: 0;
}
.line-03 {
  width: 12px;
  top: 16px;
  left: 0;
}

.burger.is-active {

  .line-02 {
    display: none;
  }
  .line-01 {
    width: 25px;
    transform: rotate(45deg);
    top: 10px;
  }
  .line-03 {
    width: 25px;
    transform: rotate(-45deg);
    top: 10px;
  }
  &:hover {
    .line-01, .line-03 {
      background-color: $color-dark;
    }
    .line-02 {
      background-color: $color-dark;
    }

  }
}







/* BURGER MENU */


.burger-menu {
  height: 100vh;
  background-color: rgba(34, 34, 34, 0.95);
  color: white;
  padding: 10% 0;
  transition: all $easingOut 600ms;
  transform: translateX(100%);


  &.is-active {
    transform: translateX(0);

    li {
      transform: translateX(0);
    }
  }

  ul {

    list-style-type: none;

    li {
      text-align: center;
      transition: padding $easingOut 400ms,background-color $easingOut 400ms,transform $easingOut 400ms 400ms;
      transform: translateX(100%);

      a {
        transition: padding $easingOut 400ms,background-color $easingOut 400ms,transform $easingOut 400ms 400ms,font-size $easingOut 400ms;
        padding: 2rem;
        color: white;
        text-decoration: none;
        font-size: 3rem;
        font-weight: bold;
        display: block;


        &:hover {
          color: $color-green;
          color: white;
          cursor: pointer;
          background-color: $color-green;
          padding: 3rem 2rem;
        }
      }
    }
  }
}
 
