
/* CONTACT */

input,textarea {
  display: block;
  padding: 1rem;
  background-color: transparent;
  border: 2px solid white
}

.input-field {
  // padding: 0 1rem;
}
.contact-form {

  .input-group {
    display: flex;
    flex-direction: row;

    .input-control {
      flex: 1 1 auto;
      display: block;
      margin-right: 1rem;
      margin-top: 1rem;
      color: white;
    }
  }
}
