
/* CONTACT */

input, textarea, button {
  display: block;
  padding: 1rem;
  background-color: transparent;
  border: 2px solid white
}

.input-field {
  // padding: 0 1rem;
}
.contact-form {

  .input-group {
    display: flex;
    flex-direction: row;

    .input-control {
      flex: 1 1 auto;
      display: block;
      margin-right: 1rem;
      margin-top: 1rem;
      color: white;
      border-radius: 0;
      -webkit-appearance: none;
      box-shadow: none !important;
    }
  }
}


@media (max-width: 667px) {

  .contact-form {

    .input-group {
      flex-direction: column;

      .input-control {
        margin: 0;
        margin-top: 15px;
      }
    }

  }

}
