/* STARTER */

.container {
  display: flex;
  align-items: stretch;
  height: 100vh;

  > * {
    flex: 1 1 auto;
  }
}

.box {
  // TODO flex-basis transition läuft nicht unter Safari, evtl. mit "WIDTH" arbeiten
  // transition: flex $easingOut 700ms 700ms, width $easingOut 700ms 700ms;
  // will-change: transform, flex, width;
}

.main-container {
  width: 60%;
  overflow: hidden;
  position: relative;
}

.main-content {
  padding: 80px 70px 0px 70px;
  position: absolute;
  background-color: $color-green;
  color: $color-dark;
  height: 100vh;
  width: 100%;
}

.main-start {
  padding: 80px 70px 0px 70px;
}

.box.side {
  width: 40%;
  position: relative;
  overflow: hidden;

  .side-img {
    position: absolute;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    z-index: -99
  }
}



@media (max-width: 1030px) {
  .container {
    // flex-flow: column;
  }

  .main-container {
    // flex: 50%;
  }
  .box.side {
    // flex: 50%;
  }
}
