---
---


$color-dark: #222222;
$color-light: #656565;
$color-green: #42BE9A;
$font-serif: 'Roboto Mono', monospace;
$font-sans: 'Montserrat', sans-serif;

$easingOut: cubic-bezier(.6,.03,.2,1);

@import "burger";

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  background-color: $color-dark;
  color: white;
  font-family: $font-serif;
  line-height: 1;
  font-size: 1rem;
  font-weight: 300;
}

h1,h2,h3,h3,h4,h5,h6 {
  font-family: $font-sans;
  font-weight: bold;
  margin: 0;
}

h1 {
  font-size: 3.75rem;
}

.container {
  display: flex;
  align-items: stretch;
  height: 100vh;
}

.box {
  // TODO flex-basis transition läuft nicht unter Safari, evtl. mit "WIDTH" arbeiten
  transition: flex-basis $easingOut 700ms 700ms, width $easingOut 700ms 700ms;
  will-change: transform;
}

.main-container {
  flex: 60%;
  overflow: hidden;
  position: relative;
}

.box.main-content {
  padding: 80px 70px 0px 70px;
  position: absolute;
  background-color: $color-green;
  color: $color-dark;
  height: 100vh;
}

.box.main-start {
  padding: 80px 70px 0px 70px;
}

.box.side {
  flex: 40%;
  position: relative;
  overflow: hidden;

  .side-img {
    position: absolute;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    z-index: -99
  }
}

.logo-burger-container {
  position: absolute;
  width: 100%;
  padding: 80px 70px 0px 70px;
  z-index: 99;
  .logo {
    float: left;
    &:hover {
      cursor: pointer;
    }
  }
  .burger {
    float: right;
  }
}

nav {
  margin-top: 11rem;
  position: relative;

  h1 {
    padding-bottom: .5rem;
    font-size: 3rem;
    opacity: .05;
    cursor: pointer;
    transition: all ease-in-out 300ms;

    &:focus {
      outline: none;
    }
    &:hover {
      opacity: .5;
    }

  }


  h1.ui-state-active {
    opacity: 1;
    font-size: 3.75rem;
    margin-top: 1rem;
  }

  .nav-text {
    font-weight: 300;
    font-size: .85rem;
    width: 70%;
    line-height: 1.7rem;
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 2rem;


    .divider {
      position: absolute;
      height: 2px;
      width: 40%;
      background-color: $color-green;
      margin-top: 1rem;
    }
  }

  .arrow {
    position: absolute;
    right: 20%;
    top: 0px;
    // transition: transform ease-in-out 200ms;
    z-index: 99;

    &:hover {
      transition: transform $easingOut 500ms;
      cursor: pointer;
      transform: translateX(10px) !important;
    }
  }
}

.content-box {
  // position: absolute;
  margin-top: 11rem;
  width: 100%;
  overflow: hidden;

    h1 {
      margin-bottom: 1.5rem;
    }
    p {
      margin-bottom: 1rem;
    }
}


.burger-menu {
  height: 100vh;
  background-color: rgba(34, 34, 34, 0.95);
  color: white;
  padding: 10% 0;
  transition: all $easingOut 600ms;
  transform: translateX(100%);


  &.is-active {
    transform: translateX(0);

    li {
      transform: translateX(0);
    }
  }

  ul {

    list-style-type: none;

    li {
      text-align: center;
      transition: padding $easingOut 400ms,background-color $easingOut 400ms,transform $easingOut 400ms 400ms;;
      transform: translateX(100%);

      a {
        transition: padding $easingOut 400ms,background-color $easingOut 400ms,transform $easingOut 400ms 400ms,font-size $easingOut 400ms;
        padding: 2rem;
        color: white;
        text-decoration: none;
        font-size: 3rem;
        font-weight: bold;
        display: block;


        &:hover {
          color: $color-green;
          color: white;
          cursor: pointer;
          background-color: $color-green;
          padding: 3rem 2rem;
        }
      }
    }
  }
}


.footer {
  font-size: .65rem;
  color: $color-light;
  position: absolute;
  bottom: 2rem;
  padding: 80px 70px 0px 70px;
}


.w-30 {
  width: 30% !important
}
.w-40 {
  width: 40% !important
}
.w-50 {
  width: 50% !important
}
.w-60 {
  width: 60% !important
}
.w-70 {
  width: 70% !important
}
.w-80 {
  width: 80% !important
}
.w-90 {
  width: 90% !important
}
